*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: arial, helvetica, sans-serif;
    background: #eeeeee;
}
input{
    font-size: 100%;
}
h1{
    font-family: 'pacifico';
    color: rgb(52, 152, 219);
}
#container{
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
#form{
    position: relative;
    overflow: hidden;
    background-color: rgb(52, 152, 219);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
}

#pseudo{
    margin-bottom: 20px;
    padding: 5px;
}
#pseudo-error{
    display: none;
}
#pseudo-error.active{
    display: block;
}
.wrapper-video{
    display: none;
    position: relative;
}
.wrapper-video.active{
    display: block;
}
#face-tracker{
    position: absolute;
    top:0;
    left:50%;
    margin-left: -200px;
}
.wrapper-file{
    display: none;
}
.wrapper-file.active{
    display: block;
}
#video{
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    /*-webkit-filter: grayscale(1);*/
}
#capture-video{
    display: block;
    margin: 20px auto 0;
    background: none;
    border: 0;

}
.wrapper-capture-file{
    position: relative;
    cursor: pointer;
    overflow: hidden;
    width: 50px;
    margin: 20px auto 0;
}
#capture-file{
    cursor: pointer;
    font-size: 100px;
    height: 100%;
    opacity: 0.01;
    position: absolute;
    right: 0;
    top: 0;
}
.camera-button{
    transition: all 250ms cubic-bezier(0,1.78,.97,.89);
    cursor: pointer;
}
.camera-button:hover{
    transform: scale(1.2);
}

#preview{
    display: none;
}
#progress{
    margin: 10px;
    opacity: 0;
    transition: opacity 250ms ease;
}
#progress.active{
    opacity: 1;
}
.wall-user{
    position: relative;
    float: left;
    width: 25%;
    padding:0 0.625em 1.25em;
    list-style-type: none;
    transition: all 1000ms ease;
}
/* By default, we tilt all our images -2 degrees */
.wall-user span {
    display: block;
    background: #fff;
    margin: 0 0 1em 0;
    width: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba(0,0,0,.25);
    transition: transform .15s linear;
    transform: rotate(-2deg);
}
/* Rotate all even images 2 degrees */
.wall-user:nth-child(even) span {
    transform: rotate(2deg);
}

/* Don't rotate every third image, but offset its position */
.wall-user:nth-child(3n) span {
    transform: none;
    position: relative;
    top: -5px;
}

/* Rotate every fifth image by 5 degrees and offset it */
.wall-user:nth-child(5n) span {
    transform: rotate(5deg);
    position: relative;
    right: 5px;
}

/* Keep default rotate for every eighth, but offset it */
.wall-user:nth-child(8n) span {
    position: relative;
    top: 8px;
    right: 5px;
}

/* Keep default rotate for every eleventh, but offset it */
.wall-user:nth-child(11n) span {
    position: relative;
    top: 3px;
    left: -5px;
}
.wall-user span:hover{
    transform: scale(1.25);
    box-shadow: 0 3px 6px rgba(0,0,0,.5);
    position: relative;
    z-index: 5;
}
.wall-user img{
    width: 100%;
}
.wall-user p{
    text-transform: uppercase;
}
/* ############### SMALL SCREEN ##############*/
@media screen and (max-width: 600px) {
    #container{
        width: 95%;
    }
    #video{
        width: 80%;
        margin: 0 auto;
    }
    .wall-user{
        width: 50%;
    }
}